Django
Pillow
python-dotenv
psycopg2-binary
gunicorn
whitenoise

django-allauth
django-threadedcomments
django-pwa
django-meta
django-recaptcha
django-dbbackup
django-taggit
django-htmx
django-editorjs-fields
django-webpush

tweepy
boto3
PyJWT
cryptography
Django
django-allauth
django-dbbackup
django-editorjs-fields
django-htmx
django-meta
django-pwa
django-recaptcha
django-taggit
django-threadedcomments
django-webpush
gevent
gunicorn
huey
Pillow
python-dotenv
whitenoise
