{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0;url={{ comment.content_object.get_absolute_url }}#comment-{{ comment.id }}">
    <script>
        // Add success message to sessionStorage for the destination page to show
        sessionStorage.setItem('commentPosted', 'true');
        window.location.href = '{{ comment.content_object.get_absolute_url }}#comment-{{ comment.id }}';
    </script>
</head>
<body>
    <p>Redirecting...</p>
</body>
</html>
